@charset "UTF-8";
$n:none;
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,fieldset,figure,hr,img,input{
    margin:0;
    padding:0;
}
body{
    font-family: "微软雅黑",Arial;
}
ol,ul{
    list-style: $n;
}
a{
    text-decoration: $n;
}
img{
    border: $n;
}
//最上方


.t3{
    height: 100%;
    width: 100%;
    .wssc{
        margin: 0 8%;
        a{
            font-size: 16px;
            color:#333333;
        }
    }
    .content1{
        overflow: hidden;
        height: 100%;
        margin:0 5%;
        margin-top: 35px;
        .Left{
            width: 20%;
            height: 100%;
            float: left;
            .L1{
                background: #f2f2f2;
                ul{
                    height: 100%;
                }
                .L1-1{
                    h3{
                        padding-left: 30px;
                        line-height: 70px;
                        height: 70px;
                        background: #e0e0e0;
                    }
                    p{
                        color: blue;
                        font-size: 18px;
                        font-weight: 900;
                        margin-left: 18px;
                        
                    }
                    a{
                        color: #333333;
                        display: block;
                        text-align: center;
                        margin-bottom: 40px;
                    }
                    input[type=checkbox]{
                        width: 22px;
                        height: 22px;
                        line-height:70px ;
                        vertical-align:middle;
                        margin-right: 20px;
                        margin-left: 20px;
                    }
                    ul{
                        height: 100%;
                        margin: 20px 15px;
                        background: #fff;
                        li{
                            margin-bottom: 10px;
                            padding-top: 10px;
                        }
                    }
                    span{
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: black;
                        margin-right: 10px;
                    } 
                    .color{
                        li{
                            margin-left: 30px;
                        }
                          .color2{
                              background:#ffc6f4 ;
                          }
                          .color3{
                              background: #0f5eb9;
                          }
                          .color4{
                              background: #777777;
                          }
                          .color5{
                              background: #e1dec4;
                          }
                    }
                }    
         
                } 
            .L2{
                a{
                    text-decoration: none;
                     text-align: center;
                    display: block;
                    margin: 10px;
                     color: #ffffff;
                 }
              }     
        
}
        .Right{
            width: 80%;
            height: 100%;
            float: right;
            .one{
                width: 100%;
                height: 70px;
                line-height: 70px;
                .oLeft{
                    float: left;
                    margin-left: 100px;
                    p{
                        font-weight: 900;
                        span{
                            margin-left: 10px;
                        }
                    }
                }
                .oRight{
                    float: right;
                    margin-right: 10px;
                    p{
                        display: inline-block;
                        margin-right: 10px;
                    }
                    a{
                        font-size: 15px;
                        color: #333333;
                        margin: -3px;
                        display: inline-block;
                        width: 70px;
                        height: 40px;
                        border:1px solid #e5e5e5 ;
                        line-height: 35px;
                        text-align: center;
                    }
                    .a1{
                        border-radius:  10px 0 0 10px;
                    }
                    .a3{
                        width: 85px;
                        border-radius:  0 10px 10px 0;
                    }
                }
            }
             .two{
                    width: 100%;
                    height: 100%;
                    .shop{
                        width: 100%;
                         margin:auto;
                           .shopImg{
                               margin-top: 40px;
                               position: relative;
                                width: 255px;
                                height:255px;
                                img{
                                    position: absolute;
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                             }
                             .shopJg{
                                 text-align: center;
                                 a{
                                    display: inline-block;
                                    margin: 5px;
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid #cccccc;
                                 }
                                 .acolor1{
                                    background: black;
                                 }
                                 .acolor2{
                                     background: pink;
                                 }
                                 .acolor3{
                                     background: yellowgreen;
                                 }
                                 p{
                                     font-size: 18px; 
                                     margin-top: 20px;
                             }
                            
                            }
                        }   
                  ul{
                      margin-left: 88px;
                      overflow: hidden;
                  }
                 li{
                     display: inline-block;
                     width: 20%;
                     margin: 10px;
                 }
                
            }
        }
    }
    
}   
