@charset "UTF-8";
body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, th, form, h1, h2, h3, h4, h5, h6, fieldset, figure, hr, img, input {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

.content {
  margin-left: 8%;
  margin-right: 8%; }

.banner {
  padding-top: 65px;
  overflow: hidden;
  width: 100%;
  height: 400px; }

.banner img {
  height: auto; }

.t3 {
  width: 100%;
  background: #f5f5f5; }
  .t3 .shop {
    width: 100%; }
  .t3 .shop li {
    display: inline-block;
    margin-right: 50px; }
  .t3 img {
    width: 385px;
    height: 257px; }
  .t3 #s8 {
    margin: 40px 0; }

.parts .parts1 {
  width: 100%;
  height: 66px; }
  .parts .parts1 .pleft {
    float: left;
    font-size: 30px;
    line-height: 66px; }
  .parts .parts1 .pcenter {
    display: inline-block;
    margin-left: 215px;
    font-size: 20px;
    margin-top: 30px; }
  .parts .parts1 .pcenter a {
    margin-right: 45px; }
  .parts .parts1 .pright {
    float: right;
    font-size: 20px;
    margin-top: 30px; }
  .parts .parts1 a {
    color: #333333; }

.parts .parts2 {
  margin: 25px 0; }
  .parts .parts2 img {
    width: 217px;
    height: 217px;
    margin: 0 auto;
    vertical-align: middle; }
  .parts .parts2 h3 {
    font-size: 16px;
    font-weight: normal;
    text-align: center; }
  .parts .parts2 p {
    font-size: 16px;
    text-align: center; }
  .parts .parts2 li {
    padding: 20px 24px 20px 40px;
    display: inline-block;
    width: 200px;
    height: 258px;
    background: white;
    border: 10px solid white;
    margin-left: 39px; }
  .parts .parts2 #leshi {
    margin-left: 0;
    float: left; }

.parts .parts3 p {
  font-size: 28px;
  margin-top: 26px; }

.parts .parts3 .lb2 {
  margin: 40px 0; }

.parts .parts3 .lb2 img {
  width: 100%;
  height: 184px; }

.parts .parts4 p {
  font-size: 28px; }

.parts .parts4 .shop2 {
  margin: 40px 0; }
  .parts .parts4 .shop2 img {
    width: 217px;
    height: 217px;
    margin: 0 auto;
    vertical-align: middle; }
  .parts .parts4 .shop2 h3 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-top: 28px; }
  .parts .parts4 .shop2 p {
    font-size: 16px;
    text-align: center; }
  .parts .parts4 .shop2 li {
    padding: 20px 24px 41px 40px;
    display: inline-block;
    width: 200px;
    height: 258px;
    background: white;
    border: 10px solid white;
    margin-left: 39px; }
  .parts .parts4 .shop2 #leshi {
    margin-left: 0;
    float: left; }

.parts .parts5 img {
  width: 100%;
  height: 100%; }

.parts .parts6 .Recommend {
  width: 100%;
  height: 50px;
  margin-top: 50px; }
  .parts .parts6 .Recommend .pleft {
    float: left;
    font-size: 30px;
    line-height: 50px; }
  .parts .parts6 .Recommend .pcenter {
    display: inline-block;
    margin-left: 215px;
    font-size: 20px;
    margin-top: 30px; }
  .parts .parts6 .Recommend .pcenter a {
    margin-right: 45px; }
  .parts .parts6 .Recommend a {
    color: #333333; }

.parts .parts6 .phone img {
  width: 217px;
  height: 217px;
  margin: 0 auto;
  vertical-align: middle; }

.parts .parts6 .phone h3 {
  font-size: 16px;
  font-weight: normal;
  text-align: center; }

.parts .parts6 .phone p {
  font-size: 16px;
  text-align: center; }

.parts .parts6 .phone li {
  padding: 20px 24px 41px 40px;
  display: inline-block;
  width: 200px;
  height: 258px;
  background: white;
  border: 10px solid white;
  margin-top: 25px;
  margin-left: 39px;
  margin-bottom: 60px; }

.parts .parts6 .phone #leshi {
  margin-left: 0;
  float: left; }

.t4 {
  height: 190px;
  background: #FFFFFF; }
  .t4 .kf3 {
    border: none !important; }
  .t4 .kf {
    padding-left: 20px;
    display: inline-block;
    width: 380px;
    height: 113px;
    margin: 35px 0;
    border-right: 1px solid #e3e6e9; }
    .t4 .kf dt {
      width: 20%;
      float: left;
      margin-left: 20px; }
      .t4 .kf dt i {
        font-size: 40px; }
    .t4 .kf dd {
      float: left;
      margin-left: 50px; }
      .t4 .kf dd p {
        margin-bottom: 20px; }

.t5 {
  width: 100%;
  height: 375px;
  background: #f5f5f5; }
  .t5 .w {
    position: relative; }
    .t5 .w .w1 {
      color: #333;
      display: inline-block;
      margin-top: 50px;
      margin-bottom: 30px;
      margin-right: 200px; }
      .t5 .w .w1 i {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: url(../../img/icon.png);
        background-position: 0 0;
        margin-left: 5px; }
      .t5 .w .w1 li {
        margin-bottom: 10px; }
      .t5 .w .w1 .b {
        margin-bottom: 25px;
        font-weight: 900; }
    .t5 .w a {
      color: #333333; }
  .t5 .ft {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333; }
  .t5 .foot1 {
    float: right;
    margin-top: 25px;
    margin-right: 158px; }
    .t5 .foot1 i {
      margin-top: 20px;
      display: inline-block;
      background: url(../../img/icon-common.png); }
    .t5 .foot1 .footicon i {
      width: 50px;
      height: 50px; }
    .t5 .foot1 .footicon .weibo {
      background-position: -1100px -1300px; }
    .t5 .foot1 .footicon .weibo:hover {
      background-position: -1150px -1300px; }
    .t5 .foot1 .footicon .iweixin {
      background-position: -1195px -1300px; }
    .t5 .foot1 .footicon .iweixin:hover {
      background-position: -1245px -1300px; }
    .t5 .foot1 .footicon .tengxunweibo1 {
      background-position: -1290px -1300px; }
    .t5 .foot1 .footicon .tengxunweibo1:hover {
      background-position: -1340px -1300px; }
    .t5 .foot1 p {
      font-weight: 900; }
  .t5 .slss {
    display: block; }
    .t5 .slss .gls {
      width: 150px;
      height: 50px;
      background-position: -1490px -1356px; }
    .t5 .slss .gls:hover {
      background-position: -1490px -1356px; }

.t6 {
  height: 170px;
  background: #525252; }
  .t6 .content {
    margin: 0 8%; }
  .t6 .fleft {
    float: left;
    padding-top: 35px; }
    .t6 .fleft a {
      font-size: 18px;
      color: #FFFFFF;
      margin-right: 30px; }
    .t6 .fleft p {
      margin-top: 35px;
      font-size: 14px;
      color: #cccccc; }
  .t6 .fright {
    float: right;
    padding-top: 35px;
    vertical-align: text-top; }
    .t6 .fright p {
      width: 345px;
      margin-right: 190px;
      color: white;
      margin-bottom: 15px;
      font-weight: 100;
      font-size: 15px; }
    .t6 .fright i {
      display: inline-block;
      background: url(../../img/icon-common.png); }
    .t6 .fright .p1 {
      width: 100%; }
      .t6 .fright .p1 a {
        color: white;
        display: inline-block; }
        .t6 .fright .p1 a .icp1 {
          width: 113px;
          height: 20px;
          background: url(../../img/lz1.gif);
          background-size: 100%;
          vertical-align: middle;
          margin-left: 5px; }
        .t6 .fright .p1 a .icp2 {
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: middle;
          background: url(../../img/hu-beian.png);
          background-size: 100%;
          margin: 0 10px; }
