@charset "UTF-8";
body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, th, form, h1, h2, h3, h4, h5, h6, fieldset, figure, hr, img, input {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

.t1 {
  width: 100%;
  height: 45px;
  background: #f2f2f2; }
  .t1 i {
    font-size: 10px;
    font-weight: bold; }

.t1 a {
  color: #363636;
  font-size: 14px; }

.content {
  margin-left: 8%;
  margin-right: 8%; }

.t1left {
  float: left;
  line-height: 45px; }

.t1right {
  line-height: 45px;
  float: right; }

.t2 .dh {
  height: 64px;
  text-align: center;
  position: relative; }
  .t2 .dh .dhleft {
    display: inline-block;
    float: left; }
  .t2 .dh .dhright {
    display: inline-block;
    position: absolute; }
  .t2 .dh a {
    display: inline-block;
    color: #363636;
    font-size: 15px;
    margin-right: 18px;
    line-height: 64px;
    position: relative; }
  .t2 .dh span {
    display: inline-block;
    position: absolute;
    left: 45%;
    top: 5px;
    line-height: 40px; }
  .t2 .dh span img {
    width: 135px; }
  .t2 .dh i {
    margin-right: 10px;
    font-size: 20px; }

#g {
  margin: 0; }

.banner {
  width: 100%;
  height: 400px; }

.banner img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

.t3 {
  width: 100%;
  background: #f5f5f5; }
  .t3 .shop {
    width: 100%; }
  .t3 .shop li {
    display: inline-block;
    margin-right: 55px; }
  .t3 img {
    width: 385px;
    height: 257px; }
  .t3 #s8 {
    margin: 40px 0; }

.parts .parts1 {
  width: 100%;
  height: 66px; }
  .parts .parts1 .pleft {
    float: left;
    font-size: 30px;
    line-height: 66px; }
  .parts .parts1 .pcenter {
    display: inline-block;
    margin-left: 215px;
    font-size: 20px;
    margin-top: 30px; }
  .parts .parts1 .pcenter a {
    margin-right: 45px; }
  .parts .parts1 .pright {
    float: right;
    font-size: 20px;
    margin-top: 30px; }
  .parts .parts1 a {
    color: #333333; }

.parts .parts2 {
  margin: 25px 0; }
  .parts .parts2 img {
    width: 217px;
    height: 217px;
    margin: 0 auto;
    vertical-align: middle; }
  .parts .parts2 h3 {
    font-size: 16px;
    font-weight: normal;
    text-align: center; }
  .parts .parts2 p {
    font-size: 16px;
    text-align: center; }
  .parts .parts2 li {
    padding: 20px 24px 20px 40px;
    display: inline-block;
    width: 200px;
    height: 258px;
    background: white;
    border: 10px solid white;
    margin-left: 43px; }
  .parts .parts2 #leshi {
    margin-left: 0;
    float: left; }

.parts .parts3 p {
  font-size: 28px;
  margin-top: 26px; }

.parts .parts3 .lb2 {
  margin: 40px 0; }

.parts .parts3 .lb2 img {
  width: 100%;
  height: 184px; }

.parts .parts4 p {
  font-size: 28px; }

.parts .parts4 .shop2 {
  margin: 40px 0; }
  .parts .parts4 .shop2 img {
    width: 217px;
    height: 217px;
    margin: 0 auto;
    vertical-align: middle; }
  .parts .parts4 .shop2 h3 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-top: 28px; }
  .parts .parts4 .shop2 p {
    font-size: 16px;
    text-align: center; }
  .parts .parts4 .shop2 li {
    padding: 20px 24px 41px 40px;
    display: inline-block;
    width: 200px;
    height: 258px;
    background: white;
    border: 10px solid white;
    margin-left: 43px; }
  .parts .parts4 .shop2 #leshi {
    margin-left: 0;
    float: left; }

.parts .parts5 img {
  width: 100%;
  height: 100%; }

.parts .parts6 .Recommend {
  width: 100%;
  height: 50px;
  margin-top: 50px; }
  .parts .parts6 .Recommend .pleft {
    float: left;
    font-size: 30px;
    line-height: 50px; }
  .parts .parts6 .Recommend .pcenter {
    display: inline-block;
    margin-left: 215px;
    font-size: 20px;
    margin-top: 30px; }
  .parts .parts6 .Recommend .pcenter a {
    margin-right: 45px; }
  .parts .parts6 .Recommend a {
    color: #333333; }

.parts .parts6 .phone img {
  width: 217px;
  height: 217px;
  margin: 0 auto;
  vertical-align: middle; }

.parts .parts6 .phone h3 {
  font-size: 16px;
  font-weight: normal;
  text-align: center; }

.parts .parts6 .phone p {
  font-size: 16px;
  text-align: center; }

.parts .parts6 .phone li {
  padding: 20px 24px 41px 40px;
  display: inline-block;
  width: 200px;
  height: 258px;
  background: white;
  border: 10px solid white;
  margin-top: 25px;
  margin-left: 43px;
  margin-bottom: 60px; }

.parts .parts6 .phone #leshi {
  margin-left: 0;
  float: left; }

.t4 {
  height: 190px;
  background: #FFFFFF; }
  .t4 .kf3 {
    border: none !important; }
  .t4 .kf {
    padding-left: 20px;
    display: inline-block;
    width: 380px;
    height: 113px;
    margin: 35px 0;
    border-right: 1px solid #e3e6e9; }
    .t4 .kf dt {
      width: 20%;
      float: left;
      margin-left: 20px; }
      .t4 .kf dt i {
        font-size: 40px; }
    .t4 .kf dd {
      float: left;
      margin-left: 50px; }
      .t4 .kf dd p {
        margin-bottom: 20px; }

.t5 {
  width: 100%;
  height: 375px;
  background: #f5f5f5; }
  .t5 .w {
    position: relative; }
    .t5 .w .w1 {
      display: inline-block;
      margin-top: 55px;
      margin-right: 230px; }
      .t5 .w .w1 li {
        margin-bottom: 15px; }
      .t5 .w .w1 .b {
        font-weight: bold; }
    .t5 .w a {
      color: #333333; }
  .t5 .ft {
    margin-top: 20px;
    margin-bottom: 30px; }
  .t5 .foot1 {
    position: absolute;
    right: 43px;
    top: 30px; }
    .t5 .foot1 i {
      display: inline-block;
      margin-right: 10px;
      font-size: 30px; }
    .t5 .foot1 p {
      margin-top: 20px;
      margin-bottom: 20px; }

.t6 {
  height: 170px;
  background: #525252; }
  .t6 .fleft {
    float: left;
    padding-top: 35px; }
    .t6 .fleft a {
      font-size: 18px;
      color: #FFFFFF;
      margin-right: 30px; }
    .t6 .fleft p {
      margin-top: 35px;
      font-size: 14px;
      color: #cccccc; }
  .t6 .fright {
    float: right;
    padding-top: 35px; }
    .t6 .fright p {
      width: 384px;
      margin-right: 190px;
      font-size: 16px;
      color: white;
      margin-bottom: 15px; }
