@charset "UTF-8";
body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, th, form, h1, h2, h3, h4, h5, h6, fieldset, figure, hr, img, input {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

.t3 {
  height: 100%;
  width: 100%; }
  .t3 .wssc {
    margin: 0 8%; }
    .t3 .wssc a {
      font-size: 16px;
      color: #333333; }
  .t3 .content1 {
    overflow: hidden;
    height: 100%;
    margin: 0 5%;
    margin-top: 35px; }
    .t3 .content1 .Left {
      width: 20%;
      height: 100%;
      float: left; }
      .t3 .content1 .Left .L1 {
        background: #f2f2f2; }
        .t3 .content1 .Left .L1 ul {
          height: 100%; }
        .t3 .content1 .Left .L1 .L1-1 h3 {
          padding-left: 30px;
          line-height: 70px;
          height: 70px;
          background: #e0e0e0; }
        .t3 .content1 .Left .L1 .L1-1 p {
          color: blue;
          font-size: 18px;
          font-weight: 900;
          margin-left: 18px; }
        .t3 .content1 .Left .L1 .L1-1 a {
          color: #333333;
          display: block;
          text-align: center;
          margin-bottom: 40px; }
        .t3 .content1 .Left .L1 .L1-1 input[type=checkbox] {
          width: 22px;
          height: 22px;
          line-height: 70px;
          vertical-align: middle;
          margin-right: 20px;
          margin-left: 20px; }
        .t3 .content1 .Left .L1 .L1-1 ul {
          height: 100%;
          margin: 20px 15px;
          background: #fff; }
          .t3 .content1 .Left .L1 .L1-1 ul li {
            margin-bottom: 10px;
            padding-top: 10px; }
        .t3 .content1 .Left .L1 .L1-1 span {
          display: inline-block;
          width: 20px;
          height: 20px;
          background: black;
          margin-right: 10px; }
        .t3 .content1 .Left .L1 .L1-1 .color li {
          margin-left: 30px; }
        .t3 .content1 .Left .L1 .L1-1 .color .color2 {
          background: #ffc6f4; }
        .t3 .content1 .Left .L1 .L1-1 .color .color3 {
          background: #0f5eb9; }
        .t3 .content1 .Left .L1 .L1-1 .color .color4 {
          background: #777777; }
        .t3 .content1 .Left .L1 .L1-1 .color .color5 {
          background: #e1dec4; }
      .t3 .content1 .Left .L2 a {
        text-decoration: none;
        text-align: center;
        display: block;
        margin: 10px;
        color: #ffffff; }
    .t3 .content1 .Right {
      width: 80%;
      height: 100%;
      float: right; }
      .t3 .content1 .Right .one {
        width: 100%;
        height: 70px;
        line-height: 70px; }
        .t3 .content1 .Right .one .oLeft {
          float: left;
          margin-left: 100px; }
          .t3 .content1 .Right .one .oLeft p {
            font-weight: 900; }
            .t3 .content1 .Right .one .oLeft p span {
              margin-left: 10px; }
        .t3 .content1 .Right .one .oRight {
          float: right;
          margin-right: 10px; }
          .t3 .content1 .Right .one .oRight p {
            display: inline-block;
            margin-right: 10px; }
          .t3 .content1 .Right .one .oRight a {
            font-size: 15px;
            color: #333333;
            margin: -3px;
            display: inline-block;
            width: 70px;
            height: 40px;
            border: 1px solid #e5e5e5;
            line-height: 35px;
            text-align: center; }
          .t3 .content1 .Right .one .oRight .a1 {
            border-radius: 10px 0 0 10px; }
          .t3 .content1 .Right .one .oRight .a3 {
            width: 85px;
            border-radius: 0 10px 10px 0; }
      .t3 .content1 .Right .two {
        width: 100%;
        height: 100%; }
        .t3 .content1 .Right .two .shop {
          width: 100%;
          margin: auto; }
          .t3 .content1 .Right .two .shop .shopImg {
            margin-top: 40px;
            position: relative;
            width: 255px;
            height: 255px; }
            .t3 .content1 .Right .two .shop .shopImg img {
              position: absolute;
              display: block;
              width: 100%;
              height: 100%; }
          .t3 .content1 .Right .two .shop .shopJg {
            text-align: center; }
            .t3 .content1 .Right .two .shop .shopJg a {
              display: inline-block;
              margin: 5px;
              width: 20px;
              height: 20px;
              border: 1px solid #cccccc; }
            .t3 .content1 .Right .two .shop .shopJg .acolor1 {
              background: black; }
            .t3 .content1 .Right .two .shop .shopJg .acolor2 {
              background: pink; }
            .t3 .content1 .Right .two .shop .shopJg .acolor3 {
              background: yellowgreen; }
            .t3 .content1 .Right .two .shop .shopJg p {
              font-size: 18px;
              margin-top: 20px; }
        .t3 .content1 .Right .two ul {
          margin-left: 88px;
          overflow: hidden; }
        .t3 .content1 .Right .two li {
          display: inline-block;
          width: 20%;
          margin: 10px; }
