@charset "UTF-8";
body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, th, form, h1, h2, h3, h4, h5, h6, fieldset, figure, hr, img, input {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial;
  background: url(../../img/bg_body.gif) repeat; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

.r1 {
  width: 100%;
  height: 80px;
  background: url(../../img/register/bg_top.gif) repeat-x left top; }
  .r1 img {
    margin-top: 20px; }

.content {
  margin: 0 auto;
  width: 50%; }

.r2 {
  width: 100%;
  background: url(../../img/register/bg_container.gif) repeat-x left top; }
  .r2 .register .cjzh {
    width: 100%;
    height: 85px;
    background-color: #0283e1;
    padding-top: 30px; }
    .r2 .register .cjzh h2 {
      line-height: 85px;
      color: white;
      font-size: 25px;
      margin-left: 60px; }
  .r2 .register .zc {
    background: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 90px;
    margin-bottom: 30px; }
    .r2 .register .zc lable {
      display: inline-block;
      width: 100px;
      text-align: right;
      margin-right: 30px; }
    .r2 .register .zc .zc1 .ooo p {
      display: inline-block;
      color: #333333; }
    .r2 .register .zc .zc1 .ooo span {
      display: inline-block;
      margin-left: 10px; }
    .r2 .register .zc .zc1 li {
      margin-bottom: 25px; }
    .r2 .register .zc .zc1 input[type=text] {
      width: 410px;
      height: 30px;
      border: 2px solid  #cccccc; }
    .r2 .register .zc .zc1 input[type=password] {
      width: 410px;
      height: 30px;
      border: 2px solid  #cccccc; }
    .r2 .register .zc .zc1 span {
      display: block; }
      .r2 .register .zc .zc1 span input {
        display: block; }
    .r2 .register .zc .zc1 .aq {
      vertical-align: top;
      position: relative; }
      .r2 .register .zc .zc1 .aq label {
        vertical-align: middle; }
      .r2 .register .zc .zc1 .aq span {
        position: relative;
        left: 0px;
        bottom: 15px;
        vertical-align: top;
        margin-left: 132px;
        margin-bottom: 10px; }
        .r2 .register .zc .zc1 .aq span a {
          display: none; }
        .r2 .register .zc .zc1 .aq span input[type=text] {
          margin-bottom: 25px; }
    .r2 .register .zc .zc2 {
      margin-top: 35px;
      padding-left: 60px; }
      .r2 .register .zc .zc2 li {
        margin-bottom: 20px; }
      .r2 .register .zc .zc2 input[type=checkbox] {
        width: 20px;
        height: 20px;
        background: #fff;
        border: 1px solid #cccccc;
        display: inline-block;
        vertical-align: middle;
        margin-right: 7px; }
    .r2 .register .zc .zc3 {
      width: 100%;
      display: inline-block;
      text-align: center;
      margin: 45px 0; }
      .r2 .register .zc .zc3 input[type=button] {
        width: 150px;
        height: 45px;
        border: none; }
      .r2 .register .zc .zc3 .jx {
        background: #2a78c3;
        color: #FFFFFF;
        margin-left: 15px; }

.t6 {
  width: 100%;
  overflow: hidden;
  height: 118px;
  background: #000000;
  line-height: 160px; }
  .t6 .content {
    margin: 0 auto;
    width: 70%; }
  .t6 span {
    display: block;
    height: 100%; }
  .t6 .t6Left {
    float: left; }
    .t6 .t6Left a {
      color: #fff;
      margin-left: 10px; }
  .t6 .t6Right {
    float: right;
    color: #333333; }
